services:
  - type: web
    name: xhare-frontend
    env: static
    buildCommand: yarn build
    staticPublishPath: dist
    envVars:
      - key: NODE_ENV
        value: production
    routes:
      - type: rewrite
        source: /*
        destination: /index.html